@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Dosis:300,400,500,600,700|Raleway:300,400,500,600,700,900&display=swap");
/*
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Dosis', sans-serif;
*/
body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Dosis', sans-serif;
}

.container {
  position: relative;
}

.cta {
  display: inline-block;
}

.welcome {
  background-image: url("../images/welcome.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 100vh;
  min-height: 500px;
  position: relative;
}
.welcome:before {
  content: "";
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
.welcome .container {
  height: 100vh;
  z-index: 100;
}
.welcome .text-block {
  color: #B1B1B1;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: -250px auto 0;
  max-width: 600px;
  text-align: center;
}
.welcome h1 {
  color: #ffffff;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: 4px;
  margin: 25px 0;
  text-transform: uppercase;
}
.welcome h1 strong {
  color: #ffc516;
  display: block;
  font-size: 36px;
  font-weight: 600;
  margin-top: 15px;
  text-transform: none;
}
.welcome .cd-headline {
  color: #ffffff;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 2px;
  margin: 15px 0 25px;
  position: relative;
}
.welcome .cd-headline.clip .cd-words-wrapper:after {
  background-color: #ffc516;
}
.welcome .cd-headline.clip span {
  padding: 5px 0;
}
.welcome p {
  font-size: 16px;
  letter-spacing: 1px;
}

.social {
  margin-top: 30px;
}
.social .cta {
  border: 1px solid #B1B1B1;
  color: #B1B1B1;
  font-size: 22px;
  height: 50px;
  line-height: 28px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 50px;
}
.social .git:hover .cta {
  color: #ec4d28;
}
.social .skype:hover .cta {
  color: #27a3e3;
}
.social .linkedin:hover .cta {
  color: #0076b3;
}
.social .facebook:hover .cta {
  color: #4064ad;
}
