@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Dosis:300,400,500,600,700|Raleway:300,400,500,600,700,900&display=swap");
/*
    font-family: 'Open Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Dosis', sans-serif;
*/
html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Dosis', sans-serif;
}

p {
  margin: 0 0 15px;
}

.container {
  position: relative;
}

.cta {
  display: inline-block;
}

.section-title {
  margin-bottom: 25px;
  overflow: hidden;
  position: relative;
}
.section-title h1,
.section-title h2,
.section-title h3 {
  margin: 10px 0;
}
.section-title h1:after,
.section-title h2:after,
.section-title h3:after {
  background: #ffc516;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 40px;
}

section {
  padding: 50px 0;
}

.panel {
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.panel:hover {
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.25);
}
.panel .panel-body {
  padding: 20px;
}
.panel .panel-body h3 {
  font-size: 20px;
  margin: 5px 0 20px;
}

.clearfix:before, .about .interest:before, .clearfix:after, .about .interest:after {
  content: "";
  clear: both;
  display: table;
}

.welcome {
  background-image: url("../images/welcome.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  height: 100vh;
  min-height: 500px;
  position: relative;
}
.welcome:before {
  content: "";
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}
.welcome .container {
  height: 100vh;
  z-index: 100;
}
.welcome .text-block {
  color: #B1B1B1;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: -220px auto 0;
  max-width: 600px;
  text-align: center;
}
.welcome h1 {
  color: #ffffff;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: 4px;
  margin: 25px 0;
  text-transform: uppercase;
}
.welcome h1 strong {
  color: #ffc516;
  display: block;
  font-size: 36px;
  font-weight: 600;
  margin-top: 15px;
  text-transform: none;
}
.welcome .cd-headline {
  color: #ffffff;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 2px;
  margin: 15px 0 25px;
  position: relative;
}
.welcome .cd-headline.clip .cd-words-wrapper:after {
  background-color: #ffc516;
}
.welcome .cd-headline.clip span {
  padding: 5px 0;
}
.welcome p {
  font-size: 16px;
  letter-spacing: 1px;
}

.social {
  margin-top: 30px;
}
.social .cta {
  border: 1px solid #B1B1B1;
  color: #B1B1B1;
  font-size: 22px;
  height: 50px;
  line-height: 28px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  width: 50px;
}
.social .git:hover .cta {
  color: #ec4d28;
}
.social .skype:hover .cta {
  color: #27a3e3;
}
.social .linkedin:hover .cta {
  color: #0076b3;
}
.social .facebook:hover .cta {
  color: #4064ad;
}

.navbar {
  border-radius: 0;
  border-width: 0 0 1px 0;
  display: none;
  margin-bottom: 0;
  min-height: 81px;
  position: fixed;
  left: 0;
  right: 0;
  top: -85px;
  transition: all ease-in-out 0.5s;
  z-index: 999;
}

.navbar-default {
  background-color: #fff;
  border-color: #e2e2e2;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  font-weight: 600;
}
.navbar-default .navbar-toggle {
  border-color: #ffc516;
  border-width: 2px;
  border-radius: 5px;
  margin-top: 9px;
  margin-right: 0;
  padding: 7px 10px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background: #252525;
  border-color: #ffc516;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffc516;
  height: 4px;
  width: 25px;
}
.navbar-default .navbar-toggle .icon-bar + .icon-bar {
  margin-top: 6px;
}
.navbar-default .navbar-nav > li > a {
  color: #666666;
  line-height: 30px;
  margin: 10px 0 10px 30px;
  text-align: center;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffc516;
}
.navbar-default .navbar-nav > .active a {
  background: none;
  color: #ffc516;
}
.navbar-default .navbar-nav > .active a:hover, .navbar-default .navbar-nav > .active a:focus {
  background: none;
  color: #ffc516;
}

.navbar-brand {
  height: 80px;
}
.navbar-brand > img {
  max-width: 50px;
}

.btn {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15), 0 3px 10px rgba(0, 0, 0, 0.2);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  line-height: 24px;
  margin: 10px;
  padding: 10px 25px;
}

.btn-primary {
  border-color: #2196f3;
  background-color: #2196f3;
}
.btn-primary:hover, .btn-primary:focus {
  border-color: #2196f3;
  background-color: #2196f3;
  box-shadow: 0 3px 13px rgba(0, 0, 0, 0.25), 0 4px 15px rgba(0, 0, 0, 0.3);
}

.btn-success {
  border-color: #38de8a;
  background-color: #38de8a;
}
.btn-success:hover, .btn-success:focus {
  border-color: #38de8a;
  background-color: #38de8a;
  box-shadow: 0 3px 13px rgba(0, 0, 0, 0.25), 0 4px 15px rgba(0, 0, 0, 0.3);
}

.skill-bar {
  position: relative;
}
.skill-bar strong {
  display: block;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 5px;
}

.progress {
  border: 1px solid #ffc516;
  border-radius: 5px;
  box-shadow: none;
  height: 6px;
  margin-bottom: 30px;
  overflow: visible;
}

.progress-bar {
  box-shadow: none;
  position: relative;
}
.progress-bar:after {
  background: #ffc516;
  border-radius: 50px;
  content: "";
  position: absolute;
  right: 0;
  top: 0px;
  height: 15px;
  margin: -6px -3px 0 0;
  width: 15px;
}

.progress-bar-primary {
  background-color: #2196f3;
}

.progress-bar-success {
  background-color: #38de8a;
}

.progress-bar-warning {
  background-color: #ffc516;
}

.about {
  background: #f5f5f5;
}
.about .section-title {
  margin-bottom: 70px;
}
.about .dp {
  border-radius: 50%;
  height: 150px;
  margin: -80px auto 0;
  overflow: hidden;
  width: 150px;
}
.about .dp img {
  max-width: 100%;
}
.about .panel {
  margin-bottom: 30px;
}
.about .panel.who {
  margin-top: 70px;
}
.about .panel.info, .about .panel.vision {
  min-height: 270px;
}
.about .who .text-center {
  margin: 0 auto;
  max-width: 900px;
}
.about .who h2 {
  margin: 40px 0 50px;
}
.about .who .action {
  margin: 40px 0;
}
.about .who .btn {
  width: 200px;
}
.about .info li {
  display: table;
  table-layout: fixed;
  margin: 0 0 5px;
  width: 100%;
}
.about .info li:last-child {
  margin: 0;
}
.about .info span,
.about .info strong {
  display: table-cell;
}
.about .info span {
  font-size: 13px;
}
.about .info strong {
  font-weight: 600;
  width: 120px;
}
.about .vision blockquote {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
  padding: 5px 20px;
}
.about .interest {
  list-style: none;
  margin: 15px 0;
  padding: 0;
  text-align: center;
}
.about .interest li {
  cursor: pointer;
  float: left;
  width: 20%;
}
.about .interest li:hover, .about .interest li:focus {
  color: #ffc516;
}
.about .interest li:hover i, .about .interest li:focus i {
  border-color: #ffc516;
  color: #ffc516;
}
.about .interest i {
  border: 1px solid #B1B1B1;
  border-radius: 50%;
  color: #666666;
  font-size: 22px;
  height: 50px;
  line-height: 50px;
  width: 50px;
}
.about .interest span {
  display: block;
  margin-top: 10px;
}

@media (max-width: 1200px) {
  .navbar-default {
    font-size: 16px;
  }
  .navbar-default .container {
    width: 100%;
  }
  .navbar-default .navbar-nav > li > a {
    margin: 10px 5px 10px 20px;
  }
}
@media (max-width: 1024px) {
  .welcome .text-block {
    padding: 0 20px;
  }
  .welcome h1 {
    font-size: 20px;
    line-height: 26px;
    margin: 15px 0;
  }
  .welcome h1 strong {
    font-size: 24px;
  }
  .welcome .cd-headline {
    font-size: 20px;
    line-height: 26px;
    margin: 25px 0;
  }
  .welcome p {
    font-size: 14px;
  }

  .navbar-collapse {
    background: rgba(0, 0, 0, 0.9);
  }
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }

  .navbar-header {
    float: none;
    margin-right: 0 !important;
    padding: 0 15px;
  }

  .navbar-brand {
    height: 60px;
    padding: 5px 15px;
  }

  .navbar-toggle {
    display: block;
  }

  .navbar {
    height: 61px;
    min-height: 0;
  }
  .navbar .container {
    padding: 0;
  }
  .navbar .navbar-nav {
    float: none;
  }
  .navbar .navbar-nav.navbar-right {
    float: none !important;
    margin: 0;
  }
  .navbar .navbar-nav > li {
    float: none;
  }
  .navbar .navbar-nav > li a {
    margin: 0;
    text-align: left;
  }
}
@media (max-width: 540px) {
  .about .interest li {
    min-height: 120px;
    width: 50%;
  }
  .about .interest li:last-child {
    width: 100%;
  }
}
