.contact {
    background: darken($white, 5);
}

footer {
    background: darken($greyDark, 20);

    .copyright {
        color: $grey;
        font-size: 12px;
        margin: 0;
        padding: 15px 0;
        text-align: center;
    }

    a {}
}